#splashscreen {
    position: relative;
    margin-top: 45vh;
    top: -15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

#actual-page {
    display: none;
}

#graph-container {
    position: relative;
    top: 100px;
}